.zig-cache/
bin/*
docs/*
libmain.a*
*.zon
zig-out/
/release/
/debug/
/build/
/build-*/
/docgen_tmp/
*.swp

# Although this was renamed to .zig-cache, let's leave it here for a few
# releases to make it less annoying to work with multiple branches.
zig-cache/
